- form_tag 'spend', :class => 'spend-form' do
  - field_set_tag do
    %p
      = label_tag :amount
      = text_field_tag :amount, :type => 'number', :min => '0', :step => '100', :value => '100', :pattern => '[0-9]'
    %p
      = label_tag :comment
      = text_field_tag :comment, :value => params[:comment]
  - field_set_tag(:class => 'buttons') do
    = submit_tag
